/* @import "./base.css"; */
body{
  --main-bg-color: #eaeaea;
  --white-bg-color: #f8f8f8;
  --main-txt-color:#0C1713;
  --button-primary: #7ba8e0;
  --button-primary-hover: #a4c7f3;
  --button-secondary: #d3d7dc;
  
}
body.dark-mode{
  --main-bg-color: #221414;
  --white-bg-color: #292727;
  --main-txt-color:#0C1713;
  --button-primary: #828486;
  --button-primary-hover: #a3c1e6;
  --button-secondary: #681818;
}
body{
  background: url(https://res.cloudinary.com/djqzi4hgo/image/upload/v1661432721/todoApp/background/background-wall_hymamn.jpg) no-repeat fixed center/cover ;
  /* background-color: var(--main-bg-color); */
  height: 100%;
}
html{
  height: 100%;
}
#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
  height: 100%;
  display: flex;
  flex-direction: column;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
    
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
