/* @import "./base.css"; */
:root{
  --main-bg-color: #eaeaea;
  --white-bg-color: #f8f8f8;
  --main-txt-color:#0C1713;
  --button-primary: #7ba8e0;
  --button-primary-hover: #a4c7f3;
  --button-secondary: #d3d7dc;
  --button-secondary-hover: #f941448e;
  --box-shadow-back: rgba(0, 0, 0, 0.5);
  --task-card-bg-color:#F2C84B;
  --reminder-task-not-done: #ff4800;
  --reminder-task-done: #0dff00;
  --main-img-bg:url(https://res.cloudinary.com/djqzi4hgo/image/upload/v1661432721/todoApp/background/background-wall_hymamn.jpg)
  --modal-bg: #f1f1f1
  
}
:root.dark-mode{
  --main-bg-color: #494949;
  --white-bg-color: #585858;
  --main-txt-color:#f1f1f1;
  --button-primary: #2289c5;
  --button-primary-hover: #a3c1e6;
  --button-secondary: #d3d7dc;
  --button-secondary-hover: #f941448e;
  --box-shadow-back: rgba(0, 0, 0, 0.5);
  --task-card-bg-color:#F2C84B;
  --reminder-task-not-done: #ff4800;
  --reminder-task-done: #0ac000;
  --main-img-bg:url(https://res.cloudinary.com/djqzi4hgo/image/upload/v1664191262/todoApp/background/background-wall_hymamn_40op_mlaiz1.png);
  --modal-bg: #e0e0e0;

}
body{
  background: var(--main-img-bg) no-repeat fixed center/cover ;
  /* background-color: var(--main-bg-color); */
  height: 100%;
}
html{
  height: 100%;
}
#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.auth-link,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}
.auth-link:hover{
 border-bottom: 2px solid hsla(160, 100%, 37%, 1);
}



@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
    
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
